@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gilroy:wght@300;400;500;700&display=swap");

* {
  /* background-color: #000;
  background-color: #fff; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
.serchicon {
  display: none;
}
.hamburg {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.serchicon {
  display: none;
}

.logo {
  /* width: 50%; */
  /* background-color: red; */
  margin-bottom: 20px;
}

.hero {
  height: 700px;
  width: 100%;
}
.hero-content {
  color: white;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  height: 530px;
}

.header {
  border-radius: 20px;
  z-index: 99;
  padding: 10px;
  margin-top: 10px;
}
.header::after {
  position: absolute;
  z-index: -1;
  content: "";
  background: rgba(248, 251, 248, 0.9);
  /* width: 961px; */
  /* width: 1284.49px; */
  height: 56px;
  /* padding: 20px; */
  /* margin-left: 54px; */
  margin-top: 10px;
  border-radius: 20px;
}

.item {
  margin: 10px 20px;
  color: #000;
}
.nav_section {
  z-index: 99;
}

.serachs input {
  padding: 7px 21px;
  gap: 10px;
  margin-top: 10px;
  width: 253px;
  height: 35px;

  background: #ffffff;
  border-radius: 15px;
}
.dot {
  font-size: 40px;
  margin-top: -22px;
  border-radius: 50%;
  color: rgba(35, 172, 128, 1);
}

.login {
  padding: 9px 31px;
  gap: 10px;

  width: 101px;
  height: 38px;
  color: #fff;
  /* button2 */

  background: linear-gradient(180deg, #0b224e -140%, #01787b 93.61%);
  /* button */

  box-shadow: 0px 0px 15.7636px rgba(56, 185, 144, 0.5);
  border-radius: 34px;
}

.arrow {
  visibility: hidden;
}

.hero_title {
  font-size: 55px;
  margin-top: 200px;
}
.word {
  color: #01cd98;
  letter-spacing: -2px;
}

.animation-container {
  text-align: center;
  font-size: 50px;
  width: 80%;
  font-weight: 500;
  height: 4em;
  /* margin-left: -40px; */
}

.button_signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup:hover .dot_signup {
  display: none;
}

.intr span {
  width: 118px;
  height: 15px;

  /* font-family: "Gilroy-Medium"; */
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.23em;
  text-transform: uppercase;

  color: #121212;
}

.heroh1 h1 {
  width: 607.4px;
  height: 100%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  /* or 55px */

  color: #0e0e0e;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.lefthero {
  margin-left: 2.5rem;
}
.heroh1 p {
  width: 607.4px;
  height: 48px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 157.02%;
  /* or 24px */

  color: #0e0e0e;
}

.ourjurn h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */

  /* black */

  color: #151515;
}
.ourjurn span {
  /* width: 466px; */
  height: 55px;
  left: 119px;
  top: 43.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  margin-left: 12px;
  font-size: 48px;
  line-height: 114.02%;
  /* identical to box height, or 55px */

  /* linear */
}

.leftjourn p {
  width: 624.26px;
  height: 68px;
  left: 119px;
  top: 538.61px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.52%;
  /* or 34px */

  color: #0e0e0e;
}

.headinves {
  padding: 2.5rem;
}
.leftgoal p {
  width: 770.96px;
  height: 192px;
  left: 81.04px;
  top: calc(50% - 192px / 2);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 133.52%;
  /* or 48px */

  color: #272727;
}

.rotag {
  display: inline-block;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
    /* transform: rotate(70deg); */
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.onevison {
  padding: 102px 181px;
}

.onevison h1 {
  width: 78px;
  height: 22px;

  /* font-family: "Gilroy-Medium"; */
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.23em;
  text-transform: uppercase;

  color: #121212;

  opacity: 0.8;
}

.onevison p {
  width: 100%;
  height: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153.52%;
  /* or 31px */

  color: #121212;
}
.value h1 {
  width: 84px;
  height: 22px;

  /* font-family: "Gilroy-Medium"; */
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.23em;
  text-transform: uppercase;

  color: #121212;

  opacity: 0.8;
}

.value p {
  width: 484.5px;
  height: 93px;
  margin: 15px 0;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153.52%;
  /* or 31px */

  color: #121212;
}

.vertical {
  width: 185.39px;
  height: 0px;
  margin: 70px 0px;
  border: 1px solid #121212;
  transform: rotate(-90deg);
}


.men {
  z-index: 80;
  left: 20%;
}

.loren {
  width: 169px;
  height: 37px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 155.02%;
  color: #000000;
}
.poly {
  top: 0;
  z-index: 0;
  left: 30%;
  margin-top: -5%;
}

.cer {
  top: 50%;
  z-index: 0;
  left: 15%;
  bottom: -45%;
  /* margin-top: -5%; */
}

.leftjourn p {
  width: 100%;
}
.lstvison {
  flex-direction: column;
}
.rightabout {
  margin-left: 20%;
  padding: 10px;
}
.aboutmem p {
  width: 172.06px;
  height: 144px;
  left: calc(50% - 172.06px / 2 + 0px);
  top: calc(50% - 144px / 2 - 15.45px);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  /* or 24px */
  opacity: 0;
  color: #ededed;
}

.ico {
  opacity: 0;
}
.headmeet h1 {
  /* width: 353px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 133.52%;
  /* identical to box height, or 64px */
  color: #272727;
}

.headmeet span {
  /* width: 466px; */
  height: 55px;
  left: 119px;
  top: 43.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 114.02%;
  /* identical to box height, or 55px */

  /* linear */

  background: linear-gradient(180deg, #151515 0%, #01787b 70.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* =================== navbar end  ============================= */
.maincontainerbox
{

  margin: 0 0px;
} 
.mutaljini
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixer
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1
  {
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: red; */
  }

.box_1{
    height: 500px;
    width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'Poppins', sans-serif;
/* background-color: yellow; */
   /* padding-right: 120px; */

  }
.box_12{
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'Poppins', sans-serif;
/* background-color: red; */
   /* padding-right: 120px; */

  }
  .box_2{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins';
    /* background-color: green; */
    margin-left: 110px;
    
    
  }
  .box3
  {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
  margin-top: 10px;
  margin-bottom: 120px;
}
  .box311
  {
 display: flex;
 flex-direction: row-reverse;
 justify-content: center;
 align-items: center;
  margin-top: 10px;
  margin-bottom: 120px;
}

.box_1_text{
   margin-bottom: 10px;
   font-size: 35px;
   font-weight: 700;
   /* background-color: red; */
  
}
.box_1 p{
  font-size: 18px;
  margin-right: 5px;
}
.textproduct{
color: #01787B ;
}
.btn_b1
{
  
  padding: 15px 45px;
  background: linear-gradient(180deg, #0B224E -140%, #01787B 93.61%);
  color: white;
  box-shadow: 0px 0px 15.7636px rgba(56, 185, 144, 0.5);
border-radius: 34px;
}
.btn_b2
{
  
  padding: 15px 45px;
  color: #01787B ;
  background: #FFFFFF;
  box-shadow: 0px 0px 15.7636px #C4E2EC;
  border-radius: 34px;
}

.parent {
 
 margin-left: 25px;
 margin-top: 50px;
 margin-bottom: 50px;
}
.image1 {
 
  width: 850px;
  height: 350px;

}
.splitimage
{
  display: none;
}
.box2
{
  /* background-color: gold; */
  display: flex;
    justify-content: center;
    align-items: center;
}
.box2_graphs{
    width: 100%;
    height: 350px;
    
}
.box2_p{
   
    margin-right: 20px; 
}
.boxweb
{
  height: 500px;
    width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'Poppins', sans-serif;
/* background-color: green; */
padding-left: 20px;
}



.fapi {
  margin-top: 10px;
  width: 600px; 
  height: 400px; 
 display: flex;
 justify-content: start; 
 align-items: center;
  background-color: yellow;
}
.fapi1 {
  background-color: red;
  margin-top: 10px;
  width: 600px; 
  height: 400px; 
 display: flex;
 justify-content: end;
 align-items: center;

}

.fapi img {
  padding-right: 50px;
}
/* =================================================================================================================== */
.headinves h1 {
  width: 638px;
  height: 101px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  /* identical to box height, or 84px */

  color: #ffffff;
}
.signup {
  color: #000;
}

.headinves {
  background-image: url("./assests/Gradientbgbox5.png");
  width: 1270px;
  height: 440px;
  background-repeat: no-repeat;
  background-position: center;

}

.headinves p {
  width: 423px;
  height: 60px;
  margin-top: 12px;
  /* B1 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  color: #ffffff;
}
.maininvest {
  /* margin: 0 150px; */
}
.signupp {
  padding: 18px 51px;
  gap: 10px;
  width: 179px;
  height: 66px;
  background: #ffffff;
  box-shadow: 0px 0px 15.7636px #c4e2ec;
  border-radius: 34px;
}
.signup span {
  width: 77px;
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  /* button2 */
  background: linear-gradient(180deg, #0b224e -140%, #01787b 93.61%);
  /* background-color: red; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  color: transparent;
}

.borf {
  border-right: 2px solid #000;
}

/* ?-------------------------------fotter style */

.fbtns {
  margin: 5px;
  padding: 10px;
  background-color: #01c096;
  border-radius: 5px;
}

.com {
  width: 102px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 158.52%;
  /* identical to box height, or 32px */
  display: flex;
  align-items: center;
  color: #1c1c1c;
}

.fotterlink {
  width: 150px;
  height: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 158.52%;
  /* or 25px */
  display: flex;
  align-items: center;
  color: #565656;
}
.fotterlink1 {
  width: 200px;
  height: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 158.52%;
  /* or 25px */
  display: flex;
  align-items: center;
  color: #565656;
}
.fotterlink :nth-child(1) {
  margin-top: 20px;
}

.fotterlink {
  margin: 11px 0;
}
.fotterlink1 {
  margin: 11px 0;
}

/* ?lastchanges? */
.rightjour {
  margin-left: 25%;
}
.rightabout {
  margin-left: 25%;
}

/* //?maainfooter[[[[[[[[[[[[[[[[[[[[[[ */

footer {
  /* background-color: black; */
  background: #121212;
}
.footer1 {
  display: flex;
  justify-content: space-evenly;
}
.titlef {
  color: rgba(35, 172, 128, 1);
  font-weight: 400;
  font-size: 20px;
}
li,
.text1 {
  color: white;
}
.footerlogo {
  color: rgba(35, 172, 128, 1);
}
.textfooter,
.textfooteraction {
  color: white;
  width: 560px;
}
.footerbottom {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 20px;
}
.footerlog {
  margin-left: 50px;
  margin-bottom: 10px;
}
.socialmedia {
  display: flex;
}
.socialmedia img {
  margin-left: 20px;
}
.last {
  color: white;
  margin-left: 50px;
}
.last p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 158.52%;
  /* or 16px */

  /* display: flex;
  align-items: center; */

  color: #bcc4c2;
}
.last2 {
  display: flex;
  color: white;
  margin-top: 20px;
  justify-content: space-between;
}
.last2 p {
  font-size: 17px;
  line-height: 158.52%;
  /* or 22px */

  /* display: flex;
  align-items: center; */

  color: #bcc4c2;
}

@media (min-width: 500px) and (max-width: 768px) {
  .maincontainerbox
  {
    background-color:green;
    margin: 10px 10px;
  }
  .textfooter {
    color: white;
    width: 100%;
  }
  .textfooteraction {
    color: white;
    width: 100%;
  }

  .mainjourny {
    flex-direction: column;
  }
  .rightjour {
    transform: rotate(90deg);
    margin-left: -10%;
    margin-top: 20%;
  }
  .tools {
    flex-wrap: wrap;

    width: 50%;
  }
  .mainlinks {
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
  }
  .headinves {
    flex-direction: column;
  }
  .headinves h1 {
    width: 100%;
    font-size: 36px;
    padding: 20px;
  }
  .headinves p {
    width: 100%;
  }
  .heroh1 h1 {
    padding: 10px;
    font-size: 24px;
    width: 100%;
  }
  .heroh1 p {
    padding: 10px;
    width: 100%;
  }

  .leftjourn {
    padding: 10px;
  }

  .men {
    z-index: 80;
    left: 40%;
  }
  .poly {
    top: 0;
    z-index: 0;
    left: 50%;
    margin-top: -5%;
    display: none;
  }
  .cer {
    z-index: 0;
    left: 29%;
    bottom: -45%;
    display: none;
  }
  .leftjourn p {
    width: 100%;
  }
  .lstvison {
    flex-direction: column;
  }
  .rightabout {
    margin-left: 20%;
    padding: 10px;
  }

  /* .mainteam {
    padding: 5px;
  }
  .cardteam {
    flex-wrap: wrap;
  }
  .member1 {
    margin: 30px 0;
  } */
  .headmeet {
    padding: 15px;
  }
  .onevison {
    padding: 10px 10px;
  }
  .valuesss {
    margin-top: 80px;
    padding: 10px;
  }

  .mainhero {
    flex-direction: column;
  }

  .lefthero {
    margin-left: 0;
  }

}

@media (max-width: 1100px) {
  .maincontainerbox
  {
    background-color: aqua;
    margin: 10px 10px;
  }
  .maininvest
  {
    /* background:red; */
    margin: 0;
  }
  .header {
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  .hamburg {
    display: block;
  }
  .headinves {
    width: 100%;
    flex-wrap: wrap;
  align-items: center;
  }
  .button_signup
  {
    margin-top: 10px;
  }
 
  .items {
    display: none;
  }

  .serachs {
    /* display: none; */
  }

  .login_btn {
    /* display: none; */
  }

  .box1,.box2,.mutaljini
  {
    flex-direction: column;
  }
  .fixer
  {
    flex-direction: column-reverse;
  }
  .box_1,.boxweb
  {
    width: 50%;
    /* background-color: red; */
    text-align: center;
  }
  .parent,.box2_graphs
  {
    margin: 0;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: yellow; */
  }
  .image1,.f1 {
   
    width: 850px;
    height: 550px;
  
  }
  .box_1 p{
    text-align: start;
  }
}

@media (max-width: 560px) {
  .maincontainerbox
  {
    background-color: chartreuse;
    margin: 10px 10px;
  }
  .serachs {
    display: none;
  }
  .serchicon {
    height: 44px;
    width: 34px;
    display: block;
  }
  .box1,.box2,.mutaljini
{
  flex-direction: column;
}
.fixer
{
  flex-direction: column-reverse;
}
.box_1,.boxweb
{
  width: 100%;
  /* background-color: red; */
  text-align: center;
}
.parent,.box2_graphs
{
  margin: 0;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: yellow; */
}
.image1,.f1 {
 
  width: 100%;
  height: 550px;

}
.box_1 p{
  text-align: start;
}
}
@media (min-width: 320px) and (max-width: 500px) {
  .maincontainerbox
  {
    background-color: orange;
    margin: 10px 10px;
  }
  .logo {
    /* background-color:red; */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
  }
  .men {
    z-index: 80;
    left: 33%;
  }
  .rightabout {
    margin-left: 28%;
  }
  .lefthero {
    margin-left: 1.5rem;
  }
  .textfooter {
    color: white;
    width: 100%;
  }

  .onevison {
    padding: 10px;
  }
  .socialmedia {
    position: absolute;
    top: 5%;
    padding: 50px 0;
  }
  /* =======================================
   */
  
  /* ======================================= */
  .mainteam {
    padding: 0rem;
  }

  .leftjourn p {
    width: 100%;
  }
  .footerbottom {
    flex-direction: column;
  }
  .textfooteraction {
    color: white;
    width: 100%;
  }
  .mainjourny {
    flex-direction: column;
  }
  .rightjour {
    transform: rotate(90deg);
    margin-left: -10%;
    margin-top: 20%;
  }
  .tools {
    flex-wrap: wrap;

    width: 100%;
  }

    .mainlinks {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0;
  }
  
  .maininvest
  {
    margin: 0;
  }
  .headinves {
    flex-wrap: wrap;
    padding: 4px;
  }
  .button_signup {
    margin-top: 56px;
}
  .headinves h1 {
    width: 100%;
    font-size: 36px;
    padding: 20px;
  }
  .headinves p {
    width: 100%;
    padding: 20px;
  }
  .heroh1 h1 {
    padding: 10px;
    font-size: 24px;
    width: 100%;
  }
  .member13 {
    margin: 20px 0;
  }
  .heroh1 p {
    padding: 10px;
    width: 100%;
  }
 


}
@media (min-width: 769px) and (max-width: 1024px) {
  .maincontainerbox
  {
    background-color: rgb(106, 110, 32);
    margin: 10px 10px;
  }
  .onevison p {
    width: 100%;
    /* padding: 10px; */
  }

  .rightjour {
    margin-left: 10%;
  }
  .maininvest {
    margin: 0px;
  }
  .mainteam {
    padding: 0rem;
  }
  .rotag {
    width: 80%;
  }
  .valuesss {
    padding: 50px;
    flex-direction: column;
  }
  .value p {
    width: 100%;
  }
  .leftjourn {
    padding: 10px;
  }
  .vertical {
    display: none;
  }
  .rightabout {
    margin-left: 38%;
    /* width: 50%; */
  }

  .men {
    /* z-index: 80;
      left: 18%; */
    width: 20%;
  }
  .headinves {
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: row;
  }
.box1,.box2,.mutaljini
{
  flex-direction: column;
}
.fixer
{
  flex-direction: column-reverse;
}
.box_1,.boxweb
{
  width: 50%;
  /* background-color: red; */
  text-align: center;
}
.parent,.box2_graphs
{
  margin: 0;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: yellow; */
}
.image1,.f1 {
 
  width: 850px;
  height: 550px;

}
.box_1 p{
  text-align: start;
}
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .maincontainerbox
  {
    background-color: rgb(255, 0, 234);
margin: 10px 10px;
  }
  .onevison p {
    width: 100%;
    /* padding: 10px; */
  }

  .rightjour {
    margin-left: 10%;
  }
  .maininvest {
    margin: 0px 60px;
  
  }
  .mainteam {
    padding: 0rem;
  }
  .rotag {
    width: 80%;
  }
  .valuesss {
    padding: 50px;
    flex-direction: column;
  }
  .value p {
    width: 100%;
  }
  .leftjourn {
    padding: 10px;
  }
  .vertical {
    display: none;
  }
  .rightabout {
    margin-left: 38%;
    /* width: 50%; */
  }


  .men {
    /* z-index: 80;
      left: 18%; */
    width: 20%;
  }
  .headinves {
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: row;
  }
}